* {
    box-sizing: border-box;
}
  
/* brand color palette */
:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}
header {
  display: flex;
    height: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--tertiary);
}
header h1 {
    display: inline-block;
    font-size: 40px;
    color: var(--dark);
    background-color: var(--secondary);
    padding-left: 70px;
    padding-right: 10px;
    text-align: right;
    margin-top: 1px;
    height: 60px;
    margin-right: 1100px;
}
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}
nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}
header nav {
    padding-top: 5px;
    margin-right: 60px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul li {
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 15px;
    text-align: right;
    align-items: right;
}
.big-hero {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.my-portfolio {
    background-color: var(--secondary);
    color: var(--dark);
    font-size: 50px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-top: 100px;
    float: right;
    
}
  
.surf-report {
    background-image: url(../images/02-portfolio-4.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
    height: 300px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    float: right;
}
.led-wall {
    background-image: url(../images/02-portfolio-1.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 450px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    float: right;

}

.react-calc {
    background-image: url(../images/02-portfolio-2.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    float: right;

}
  
.pastel-puzzles {
    background-image: url(../images/02-portfolio-3.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    float: right;

}
.run-buddy {
    background-image: url(../images/02-run-buddy.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    height: 150px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    float: right;

}
.main{
  display: flex;
  border-right: 5px;
}
.section {

}